/************************Brand Css*****************************/
#brand-css{
    font-weight: 400;
    color: #515151;
    font-family: 'Segoe UI Bold'
}
/**********************Small tag css***************************/
small{
    font-Size: 0.6875rem;
    font-style : 400;
    word-spacing: 0;
    line-height : 1.5em;
}

#userName-css{
    font-size: 0.875rem;
    font-weight: 400;
    color: #666666;
    word-spacing: 0;
    line-height: 1.5rem;
    padding: 0 0.5rem;
}

.app-body{
    padding: 0 1.5rem;
}




