<section class="main-container">


    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center" style="background-color: #fff;padding: 0;border-bottom:0.1px solid #dee2e6">
        <ul class="nav navbar-nav ml-auto justify-content-end">

            <li class="nav-item">
                <a id="userName-css" class="nav-link">Welcome,&nbsp;Mohit</a>
            </li>
        </ul>

    </nav>

</section>
<div class="app-body">
   
    <div style="margin-top:2rem" [froalaEditor]="options"></div>
</div>

